.login-wrapper {
    background: none!important;
    justify-content: center;
    background-color: black;
}

.login-wrapper .login {
  background: rgb(244, 246, 255);
}

.btn.btn-primary{
    color: black;
    background-color: yellow;
    border-color: yellow;
}

.welcome {
  color: #5659b9;
  font-weight: bold;
}
