.search {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.searchHdr {
  font-size: 34px;
}

.save.group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
}

.search.group {
    display: flex;
    flex-direction: column;
}

.search.input {
    display: flex;
    justify-content: center;
    padding: 11px;
    text-align: center;
    font-size: 28px;
}

.btn.btn-primary {
    color: black;
    background-color: yellow;
    border-color: yellow;
    margin-top: 5px;
}

.searchBtn {
  margin: auto;
}

.saveBtn {
  color: black;
  background-color: orange;
  border-color: orange;
  margin: auto;
}
