.login-wrapper {
  background: white;
  justify-content: center;
  background-color: #f4f4f4;
}

.btn.btn-primary {
    color: black;
    background-color: yellow;
    border-color: yellow;
}

.welcome {
  color: #665bff;
  font-weight: bold;
}
